**/data/*

# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ============================================
# Neuroimaging / BIDS / NIfTI specific
# ============================================
data/
openneuro/
ds*/
*.nii
*.nii.gz
*.pt
*.npz

# HuggingFace cache
.cache/huggingface/